// COLORS
$color-primary: #6BF26B;
$color-background: #3c3836;
$color-link: #FFA500;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";

// BREAKPOINTS
$br: 600px;
